
<div class="container">
  <app-navbar></app-navbar>
  <div class="row" style="margin-top: 50px;">
      <div class="col"></div>
      <div class="col-md-4 col-xs-12">
          <h1>hi {{user}}!!</h1>
      </div>
      
      <div class="col"></div>
  </div>  
  
</div>

<div class="row">
  <div class="col"></div>
  <div class="col">
    
      <div *ngIf="todaysEvents">
        <div>
          <h3>Events you have toady is</h3>
        </div>
        
        <div *ngFor="let event of todaysEvents">
          <ul>
            <li><h5>{{event.event}}</h5></li>
          </ul>
        </div>
      </div>

      <div *ngIf="todaysEvents">
        <h3>You dont have events today</h3>
      </div>
    </div>
  
  <div class="col"></div>
</div> 