<div class="container">
    <div class="row"  style="margin-top: 100px;">
        <div class="col"></div>
        <div class="col">
            <form (ngSubmit)="register()" [formGroup]="registerForm">
                <p class="fs-4">Register for Reminder</p>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="user_id" name="user_id" placeholder="pleas Enter a user id" >
                </div>
                <div *ngIf="(this.registerForm.get('user_id')?.errors) && (this.registerForm.get('user_id')?.touched || this.registerForm.get('user_id')?.dirty)" class="error">Invalid User name</div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="name" name="name" placeholder="Enter Your Name">
                </div>
                <div *ngIf="(this.registerForm.get('name')?.errors) && (this.registerForm.get('name')?.touched || this.registerForm.get('name')?.dirty)" class="error">Invalid User name</div>

                
                <div class="input-group mb-3">
                    <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                </div>
                <div *ngIf="(this.registerForm.get('password')?.errors) && (this.registerForm.get('password')?.touched || this.registerForm.get('password')?.dirty)" class="error">Invalid User name</div>

               
                <button type="submit" class="btn btn-dark btn-sm">Register</button>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>